---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Banner from "../components/Banner.astro";
import Navegation from "../components/Navegation.astro";
---

<Layout title="Koreh">
  <Banner img="../../public/image 13.webp" dc="/" server="0.10.10" />
  <Navegation  />
    <article class=" bg-slate-800  h-3/6 w-full">

    </article>

  


  </section>

  <section id="STAFF" class="flex flex-col gap-10 my-10">
    <h2 class="text-3xl items-center text-center font-bold text-white">FUNDADORES</h2>
    <div class="flex flex-row gap-10 mx-20 max-sm:mx-0 max-sm:justify-center max-minicelular:flex-col max-minicelular:justify-center max-minicelular:items-center">
      <Card
        nametag="XBO"
        idioma="español"
        userDc="XBO"
        skin="../../public/cofunder.webp"
      />
      <Card
        nametag="XBO"
        idioma="español"
        userDc="XBO"
        skin="../../public/founder.webp"
      />
    </div>
    <h2 class="text-3xl items-center text-center font-bold">ADMINISTRADORES</h2>
    <div
      class="grid grid-cols-3 gap-4 max-w[1000px] justify-items-center my-6 max-sm:grid-cols-2 max-sm:gap-3 max-minicelular:grid-cols-1"
    >
      <Card
        nametag="XBO"
        idioma="español"
        userDc="XBO"
        skin="../../public/skin1render1,0 1.webp"
      />
      <Card
        nametag="XBO"
        idioma="español"
        userDc="XBO"
        skin="../../public/skinrender2 1.webp"
      />
      <Card
        nametag="XBO"
        idioma="español"
        userDc="XBO"
        skin="../../public/skinrender4 1.webp"
      />
      <Card
        nametag="XBO"
        idioma="español"
        userDc="XBO"
        skin="../../public/skinrender5 1.webp"
      />
      <Card
        nametag="XBO"
        idioma="español"
        userDc="XBO"
        skin="../../public/skinrender6 1.webp"
      />
    </div>
  </section>
</Layout>

<style></style>
